@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ExtraBold.woff2') format('woff2'),
        url('Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  /* 
  font-family: 'Gilroy ExtraBold';
  font-family: 'Gilroy Light'; 
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif;
  */
  
  body{
    font-family: 'Roboto', sans-serif;
  }
  
  .wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
  }
  .container {
    max-width: 1596px;
    margin: 0px auto; 
  }
  
  .main {
    flex: 1 1 auto; 
  }
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.header{
    background-color: #000;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 64px;
}

.header__row, .header__left, .header__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.header__row{
    height: 64px;
}

.header__main-link{
    margin-left: 50px;
}

.header__cart, .header__help-link{
    margin-right: 50px;
}
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.categories{
  padding-top: 64px;
}

.categories__container{
  width: 1920px;
  margin: 0 auto;
}

.categories__row{
  display: flex;
}

.categories__item{
  width: 480px;
  height: 816px;
  padding-top: 26px;
}

.categories__item-title{
  text-align: center;
  padding-top: 714px;

  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.categories__electric{
  background: url('../img/Categories/Electric.png') center top/contain no-repeat;
}

.categories__acoustic{
  background: url('../img/Categories/Acoustic.png') center top/contain no-repeat;
}

.categories__bass{
  background: url('../img/Categories/Bass.png') center top/contain no-repeat;
}

.categories__drums{
  background: url('../img/Categories/Drums.png') center top/contain no-repeat;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
.footer{
    height: 200px;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    z-index: 1;
  }
  
  .footer__container{
    position: relative;
  }
  
  .footer__container::before{
    content:'';
    position: absolute;
    width: 323px;
    height: 134px;
    background: url('../img/footerlogo.svg') 0 0/ cover no-repeat;
    top: 34px;
    left: 636px;
  }
  
  .footer__row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 60px;
    margin-bottom: 36px;
  }
  
  .upper{
    margin-bottom: 39px;
  }
  
  .footer a{
    color: #fff;
  }
  
  .footer-links{
    display: flex;
    justify-content: space-between;
    min-width: 351px;
  }
  
  .footer-right{
    display: flex;
  }
  
  .contacts{
    margin-right: 48px;
  }
  
  .follow__title{
    margin-top: -5px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Gilroy ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 117.2%;
  }
  
  .copyright{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 117.2%;
  }