@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-ExtraBold.woff2') format('woff2'),
      url('Gilroy-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Light.woff2') format('woff2'),
      url('Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 
font-family: 'Gilroy ExtraBold';
font-family: 'Gilroy Light'; 
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
*/

body{
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}

.header{
  background: url('../img/BG-1.jpg') 0 0/ cover no-repeat;
}

.container {
  max-width: 1596px;
  margin: 0px auto; 
}

.main {
  flex: 1 1 auto; 
}
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
.header__nav{
  position: fixed;
  z-index: 1; 
  width: 100%;
  height: 64px;
  background-color: #fff;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__row a{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
}

.nav__left, .nav__right{
  padding-top: 24px;
}

.nav__shop, .nav__signup{
  margin-right: 60px;
}

.header__content{
  padding-top: 408px;
  height: 1080px;
}

.header__logo{
  margin: 0 auto;
  margin-bottom: 175px;
  width: 236px;
}

.logo__text{
  font-family: 'Noto Serif', serif;
  font-size: 25px;
  font-style: normal;
  color: #fff;
  text-align: center;
}
.logo__image{
  width: 236px;
  margin-bottom: 8px;
}

.header__button{
  width: 218px;
  margin: 0 auto;
  margin-bottom: 171px;
}

.header__button-image{
  width: 218px;
}
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
.social__top{
  padding-top: 100px;
  margin-bottom: 100px;
}

.social__title{
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Gilroy ExtraBold';
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 59px;
}

.social__subtitle{
  text-align: center;
  font-family: 'Gilroy Light';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
}

.review__row{
  display: flex;
  justify-content: space-between;
  height: 645px;
  margin-bottom: 140px;

}

.review-card{
  position: relative;
  width: 464px;
  height: 545px;
  padding: 20px;
  background-color: #FFF8EA;
  border-radius: 10px;
  box-shadow: 2px 8px 8px 0 #DADADA;
}

.review-card::before{
  content:'';
  position: absolute;
  width: 293px;
  height: 85px;
  background: url('../img/Review-Stars.svg') 0 0/ cover no-repeat;
  top: 85px;
  left: 83px;
}

.review-card__title{
  margin-top: 18px;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Gilroy ExtraBold';
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
}

.review-card__text{
  width: 424px;
  height: 228px;
  margin-bottom: 50px;
  font-family: 'Gilroy Light';
  font-size: 24px;
  font-weight: 300;
  line-height: 156.24%;
  display: flex;
  align-items: center;
}


.review-card__person-row{
  display: flex;
}

.review-card__personal-wrap{
  margin: 4px 0 0 16px;
}

.review-card__name{
  margin-bottom: 20px;
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px
}

.review__item--2{
  align-self: flex-end;
}

.review-card__place{
  font-family: 'Gilroy Light';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}


.partnership-row{
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
.benefits{
  background: url('../img/Benefits-BG.png') 0 0/ cover no-repeat;
  color: #fff;
}
.benefits__title{
  text-align: center;
  padding-top: 68px;
  margin-bottom: 86px;
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
}

.benefits__image{
  margin: 0 auto;
  width: 464px;
  margin-bottom: 60px; 
}

.benefits__text{
  width: 926px;
  margin: 0 auto;
  padding-bottom: 108px;
  text-align: center;
  font-family: 'Gilroy Light';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 156.2%;
  letter-spacing: 0.115em;
} 

/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.features_row{
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.features__item{
  width: 464px;
  /* height: 670px; */
}

.features__image{
  margin-bottom: 24px;
}

.features__title{
  margin-bottom: 10px;
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
}

.features__text{
  font-family: 'Gilroy Light';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.gallery__container{
  width: 1880px;
  margin: 0 auto;
}

.gallery__row{
  margin-left: -20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.gallery__item{
  padding: 10px;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.products__title{
  margin-top: 62px;
  margin-bottom: 118px;
  text-align: center;
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 51px;
}

.products__row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.shop-item{
  width: 440px;
  height: 610px;
}

.shop-item__info{
  padding: 10px;
  padding-top: 18px;
}

.shop-item__name{
  height: 54px;
  width: 420px;
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
}

.shop-item__wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 13px;

  position: relative;
}

.shop-item__wrap::before{
  content:'';
  position: absolute;
  width: 143px;
  height: 23px;
  background: url('../img/shop-item__stars.svg') 0 0/ cover no-repeat;
  top: 49px;
  left: 0px;
}

.shop-item__cost{
  color: #FF0F00;
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 42px;

}

.add-button{
  background-color: #000;
  color:#fff;
  width: 240px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 45px;

  position: relative;
}

.add-button::before{
  content:'';
  position: absolute;
  width: 23px;
  height: 23px;
  background: url('../img/add-to-cart.svg') 0 0/ cover no-repeat;
  top: 32px;
  left: 45px;
}

.add-button__text{
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.products__button{
  margin: 0 auto;
  margin-bottom: 63px;
  width: 240px;
  height: 86px;
  background-color: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}


.products__button-text{
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.offer{
 text-align: center;
 background: url('../img/down-offerBG1.png') 0 0/ cover no-repeat;
}

.offer__title{
  padding-top: 80px;
  margin-bottom: 30px;
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
}

.offer__subtitle{
  font-family: 'Gilroy Light';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 122px;
}

.red{
  color: #FF0F00;
}

.offer__button{
  margin: 0 auto;
  padding-bottom:83px;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.footer{
  height: 200px;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.footer__container{
  position: relative;
}

.footer__container::before{
  content:'';
  position: absolute;
  width: 323px;
  height: 134px;
  background: url('../img/footerlogo.svg') 0 0/ cover no-repeat;
  top: 34px;
  left: 636px;
}

.footer__row{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 60px;
  margin-bottom: 36px;
}

.upper{
  margin-bottom: 39px;
}

.footer a{
  color: #fff;
}

.footer-links{
  display: flex;
  justify-content: space-between;
  min-width: 351px;
}

.footer-right{
  display: flex;
}

.contacts{
  margin-right: 48px;
}

.follow__title{
  margin-top: -5px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 117.2%;
}

.copyright{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 117.2%;
}
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  top:0;
  left:0;

  opacity:0 ;
  visibility: hidden;
}

.popup:target{
  opacity: 1;
  visibility: visible;
}

.popup__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}



.popup__content{
  background-color: #ffffff;
  color: #000;
  min-width: 600px;
  min-height: 680px;
  position: relative; 
}


.popup__close{
  position: absolute;
  top: 33px;
  right: 38px;
}

.popup__logo{
  width: 110px;
  height: 110px;
  margin: 54px auto 0;
  background: url('../img/Logo_1.jpg') 0 0/cover no-repeat;
}

.google__content{
  width: 392px;
  height: 45px;
  margin: 70px auto 0;
  border: 1px solid #000;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;

  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
  color: #000;
}

/* +++++++++++   ФОРМА    +++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.form{
  width: 347px;
  margin: 97px auto 0;
}

.or{
  width: 26px;
  display: block;
  margin: 90px auto 0;

  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.formLog{
  width: 347px;
  margin: 32px auto 0;
}


.form__item{
  margin-bottom: 32px;
  border-bottom: 1px solid #000;
}

.form__item:nth-child(3){
  margin-bottom: 56px;
}

.form__item--1{
  margin-bottom: 8px;
}

.forgot{
  text-align: right;

  margin-bottom: 38px;
}

.forgot a{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}



input, button{
  width: 347px;
  height: 18px;
  
}
input[name="useremail"], input[name="username"], input[name="userpass"], input[name="username/email"]{
  font-family: 'Gilroy Light';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.form__button{
  margin: 0 auto;
  width: 190px;
}
button{
  height: 60px;
  width: 190px;
  padding: auto;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;

  font-family: 'Gilroy ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000;
}


.have{
  width: 300px;
  margin: 32px 0 0 296px;
}

.have a, .have span{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.have a{
  color: #000;
  text-decoration: underline;
}

.have--1{
  text-align: right;
  width: 200px;
  
}
